<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Liste de Livres</th>
            </tr>
        </thead>
    <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Date Publication</th><th>Editeur</th> </tr>
    <tbody *ngFor="let livre of livres">
    <tr >
    <td>{{livre.idLivre}}</td>
    <td>{{livre.nomLivre}}</td>
    <td>{{livre.prixLivre}}</td>
    <td>{{livre.datePublication | date:'dd/MM/yyyy'}}</td>
    <td>{{livre.editeur.nomEd}}</td>

    <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateLivre',livre.idLivre]">Modifier</a></td>
    <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerLivre(livre)">Supprimer</a></td>
</tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>